body {
	padding-top: 8rem;
}

a.hidden-link {
	color: inherit;
}

a.hidden-link:hover,
a.hidden-link:focus,
a.hidden-link:visited {
	color: inherit;
}

.full-page {
	position: relative;
	background-color: blue;
	height: 100%;
}

a.active,
a.active:hover,
a.active:focus,
a.active:visited {
	background-color: #777;
	color: #FFF !important;
}